APP_NAME=studio_asset_system Backend
APP_ENV=development
APP_DEBUG=true
DATABASE_URL=postgresql+psycopg://lvfushun@127.0.0.1:5432/studio_asset_system
MEDIA_ROOT=./storage
COOKIE_ENCRYPTION_KEY=
DEFAULT_MODEL=
